name: Build Kivy APK

on:
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install system packages
      run: |
        sudo apt update
        sudo apt install -y python3-setuptools python3-pip \
        git zip unzip openjdk-17-jdk \
        libffi-dev libssl-dev build-essential \
        libgles2-mesa-dev libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev \
        libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev

    - name: Install buildozer & cython
      run: |
        pip install --upgrade pip
        pip install buildozer Cython==0.29.33

    - name: Install Android SDK & Build Tools
      run: |
        yes | sdkmanager --licenses || true
        sdkmanager "platform-tools" "platforms;android-33" "build-tools;33.0.2" "ndk;25.2.9519653"

    - name: Build APK
      env:
        ANDROIDSDK: $HOME/.buildozer/android/platform/android-sdk
        ANDROIDNDK: $HOME/.buildozer/android/platform/android-ndk
      run: |
        buildozer android debug --verbose

    - name: Upload APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: balanceapp-apk
        path: bin/*.apk

